<table style="width:100%; background-color:#EBDFDF;
font-family:arial,helvetica,sans-serif; font-size:14px">
    <tr>
        <td align="center" style="padding:20px;">
            <table style="max-width:600px; width:100%; background-color:#FFF">
                <tr>
                    <td align="center" style="padding:22px 0 20px 0; border-bottom: 2px solid #F77">
                        <img src="http://hackhealth.tech/img/banner.png" alt="HackHealth"
                             style="width:275px; height:78px">
                    </td>
                </tr>
                <tr>
                    <td style="padding:14px 24px">
                        <p>Hi {{name}},</p>
                        <p>Thank you for registering for HackHealth!</p>
                        <p>
                            We can't wait to see you on September 10th.<br>
                            <a target="_blank" style="line-height:23px; color:#199FCB"
                            href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20160910T130000Z/20160911T010000Z&location=Stony+Brook+University&text=HackHealth&details=Health-themed+hackathon">
                                Add event to Google Calendar</a>
                        </p>
                        <p>
                            In the meantime check out and follow our
                            <a target="_blank" href="https://www.facebook.com/groups/sbuwics/"
                            style="color:#199FCB">
                                Facebook</a>
                            and
                            <a target="_blank" href="https://www.linkedin.com/groups/8543587"
                            style="color:#199FCB">
                                LinkedIn</a> pages.
                        </p>
                        <p>
                            Also if you have any questions shoot us an email at
                            <a href="mailto:sbu.wics@gmail.com"
                            style="color:#199FCB">sbu.wics@gmail.com</a>.
                        </p>
                        <p>&nbsp;</p>
                        <p>Sincerely,</p>
                        <p>The WiCS team</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-bottom:20px">
                        <div style="margin:20px 0 10px 0">
                            <img src="http://hackhealth.tech/img/WiCS_Transparent.png"
                            style="width:189px; height: 56px">
                        </div>
                        <div>
                            <a target="_blank" style="color:#199FCB; font-weight:bold; text-decoration: none"
                            href="http://www3.cs.stonybrook.edu/~wics/">
                                Women in Computer Science</a>
                            at Stony Brook University
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center"
                    style="border-top:2px solid #999; color:#777; padding:20px; background-color:#DDD; font-size:11px">
                        <div>
                            If you don't want to receive these mails, from HackHealth, please
                            <a style="color:#644; text-decoration:none;"
                            href="http://hackhealth.tech/?unsubscribe">
                                unsubscribe</a>.
                        </div>
                        <div>
                            Copyright © 2016 WiCS (Stony Brook University,
                            Stony Brook, NY 11794), All rights reserved.
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>