<table style="width:100%; background-color:#EBDFDF;
font-family:arial,helvetica,sans-serif; font-size:14px">
    <tr>
        <td align="center" style="padding:20px;">
            <table style="max-width:600px; width:100%; background-color:#FFF">
                <tr>
                    <td align="center" style="padding:22px 0 20px 0; border-bottom: 2px solid #F77">
                        <img src="http://hackhealth.tech/img/banner.png" alt="HackHealth"
                             style="width:275px; height:78px">
                    </td>
                </tr>
                <tr>
                    <td style="padding:14px 24px">
                        <p>Dear {{name}},</p>
                        <p>
                            Thank you for registering for HackHealth!
                            We look forward to your awesome ideas and spectacular projects.
                            Registration will end at 11:59pm on August 26th, and acceptances will be sent out shortly afterwards.
                        </p>
                        <p>
                            Just to confirm, HackHealth will start at 9am on Saturday, Sept 10th in Old CS Room 2120.
                            <a target="_blank" style="font-weight:bold; color:#199FCB"
                            href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20160910T130000Z/20160911T020000Z&location=Old+CS+2120,+Stony+Brook+University&text=HackHealth&details=A+one+day+health-themed+hackathon+for+hackers+and+designers+of+all+skill+levels+and+devoted+to+being+minority-friendly">
                                Add to calendar</a>
                        </p>
                        <p>
                            Check back on our
                            <a target="_blank" href="http://www.hackhealth.tech" style="color:#199FCB">website</a>
                            for any updates and feel free to use the
                            <a target="_blank" href="https://www.facebook.com/groups/sbuwics/" style="color:#199FCB">Facebook event page</a>
                            to ask us questions,discuss project ideas, and find groupmates.
                        </p>
                        <p>
                            If you have any further questions or concerns, you can also email us at
                            <a href="mailto:sbu.wics@gmail.com" style="color:#199FCB">sbu.wics@gmail.com</a>.
                       <p>
                            In the meantime check out our
                            <a target="_blank" href="https://www.facebook.com/groups/sbuwics/" style="color:#199FCB">Facebook</a>
                            and
                            <a target="_blank" href="https://www.linkedin.com/groups/8543587" style="color:#199FCB">LinkedIn</a>
                            pages.
                            Don't forget about our
                            <a target="_blank" href="https://www.facebook.com/events/811861588913472/" style="color:#199FCB">bootcamp</a>
                            on Friday, Sept 9th!
                            <a target="_blank" style="font-weight:bold; color:#199FCB"
                            href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20160909T180000Z/20160910T020000Z&location=Old+CS+2120,+Stony+Brook+University&text=Pre-HackHealth+Bootcamp&details=Want+to+learn+some+useful+technologies+and+languages?+Don%27t+know+what+you+can+do+with+your+skills+at+HackHealth?+Not+sure+how+to+use+git?+What+is+a+web+app??%0A%0AHave+no+fear,+our+bootcamp+is+here!">
                                Add to calendar</a>
                        </p>
                        <p>Happy Hacking!</p>
                        <p>WiCS team</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-bottom:20px">
                        <div style="margin:20px 0 10px 0">
                            <img src="http://hackhealth.tech/img/WiCS_Transparent.png"
                            style="width:189px; height: 56px">
                        </div>
                        <div>
                            <a target="_blank" style="color:#199FCB; font-weight:bold; text-decoration: none"
                            href="http://www3.cs.stonybrook.edu/~wics/">
                                Women in Computer Science</a>
                            at Stony Brook University
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center"
                    style="border-top:2px solid #999; color:#777; padding:20px; background-color:#DDD; font-size:11px">
                        <div>
                            If you don't want to receive these mails, from HackHealth, please
                            <a style="color:#644; text-decoration:none;"
                            href="http://hackhealth.tech/?unsubscribe">
                                unsubscribe</a>.
                        </div>
                        <div>
                            Copyright © 2016 WiCS (Stony Brook University,
                            Stony Brook, NY 11794), All rights reserved.
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>