{% extends 'base/layout.html' %}
{% block body %}
    <p>
        <button onclick="window.location.href = '/archive'">Download zip archive</button>
        <button id="copy-emails" data-clipboard-target="#emails">Copy email address list to clipboard</button>
    </p>
    <table>
        <thead>
            <tr>
                {% for field in fields %}
                    <th>{{field}}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for response in responses %}
                <tr>
                    {% for field in fields %}
                        <td>{{response[field]}}</td>
                    {% endfor %}
                    <td>
                        {% if response.resume %}
                            <a href="/response/{{response._id}}/resume">Resume</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div>Total responses: <b>{{responses|length}}</b></div>
    <input id="emails" style="width:1px; height:1px; opacity:0" readonly value="{{emails}}">
{% endblock %}