
body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 13px;
    text-align: center;
}

table {
    border-spacing: 0;
    border: thin solid #CCC;
    margin: auto;
    width: 100%;
}

table th, table td {
    padding: 4px;
    border: thin solid #CCC;
}