body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 12px;
    text-align: center;
}

table {
    border-spacing: 0;
    border: thin solid #DDD;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 4px;
}

table th, table td {
    padding: 2px;
    border: thin solid #E6E6E6;
}

table th {
    font-size: 11px;
}
